__pycache__/
.venv/
Data/
data_hydrobasins
Cutouts/
Resources/
Plots/
**/.DS_Store
.DS_Store
temp/
Cutouts_23/
Data_1/
Data_2/
Data_3/
Parameters_1/
Parameters_2/
Parameters_3/
Parameters_1/conversion_parameters.xlsx
Parameters_1/country_parameters.xlsx
Parameters_1/demand_parameters.xlsx
Parameters_1/hex_transport.geojson
Parameters_1/pipeline_parameters.xlsx
Parameters_1/technology_parameters.xlsx
Parameters_1/transport_parameters.xlsx
Parameters_1/weather_parameters.xlsx
Parameters_1/Basic_H2_plant/buses.csv
Parameters_1/Basic_H2_plant/generators.csv
Parameters_1/Basic_H2_plant/links.csv
Parameters_1/Basic_H2_plant/storage_units.csv
Parameters_1/Basic_H2_plant/stores.csv
Parameters_2/conversion_parameters.xlsx
Parameters_2/country_parameters.xlsx
Parameters_2/demand_parameters.xlsx
Parameters_2/hex_transport.geojson
Parameters_2/pipeline_parameters.xlsx
Parameters_2/technology_parameters.xlsx
Parameters_2/transport_parameters.xlsx
Parameters_2/weather_parameters.xlsx
Parameters_2/Basic_H2_plant/buses.csv
Parameters_2/Basic_H2_plant/generators.csv
Parameters_2/Basic_H2_plant/links.csv
Parameters_2/Basic_H2_plant/storage_units.csv
Parameters_2/Basic_H2_plant/stores.csv
Parameters_2025/conversion_parameters.xlsx
Parameters_2025/country_parameters.xlsx
Parameters_2025/demand_parameters.xlsx
Parameters_2025/hex_transport.geojson
Parameters_2025/pipeline_parameters.xlsx
Parameters_2025/technology_parameters.xlsx
Parameters_2025/transport_parameters.xlsx
Parameters_2025/weather_parameters.xlsx
Parameters_2025/Basic_H2_plant/buses.csv
Parameters_2025/Basic_H2_plant/generators.csv
Parameters_2025/Basic_H2_plant/links.csv
Parameters_2025/Basic_H2_plant/storage_units.csv
Parameters_2025/Basic_H2_plant/stores.csv
Parameters_2030/conversion_parameters.xlsx
Parameters_2030/country_parameters.xlsx
Parameters_2030/demand_parameters.xlsx
Parameters_2030/hex_transport.geojson
Parameters_2030/pipeline_parameters.xlsx
Parameters_2030/technology_parameters.xlsx
Parameters_2030/transport_parameters.xlsx
Parameters_2030/weather_parameters.xlsx
Parameters_2030/Basic_H2_plant/buses.csv
Parameters_2030/Basic_H2_plant/generators.csv
Parameters_2030/Basic_H2_plant/links.csv
Parameters_2030/Basic_H2_plant/storage_units.csv
Parameters_2030/Basic_H2_plant/stores.csv
Parameters_3/conversion_parameters.xlsx
Parameters_3/country_parameters.xlsx
Parameters_3/demand_parameters.xlsx
Parameters_3/hex_transport.geojson
Parameters_3/pipeline_parameters.xlsx
Parameters_3/technology_parameters.xlsx
Parameters_3/transport_parameters.xlsx
Parameters_3/weather_parameters.xlsx
Parameters_3/Basic_H2_plant/buses.csv
Parameters_3/Basic_H2_plant/generators.csv
Parameters_3/Basic_H2_plant/links.csv
Parameters_3/Basic_H2_plant/storage_units.csv
Parameters_3/Basic_H2_plant/stores.csv
Parameters_post_2030/conversion_parameters.xlsx
Parameters_post_2030/country_parameters.xlsx
Parameters_post_2030/demand_parameters.xlsx
Parameters_post_2030/hex_transport.geojson
Parameters_post_2030/pipeline_parameters.xlsx
Parameters_post_2030/technology_parameters.xlsx
Parameters_post_2030/transport_parameters.xlsx
Parameters_post_2030/weather_parameters.xlsx
Parameters_post_2030/Basic_H2_plant/buses.csv
Parameters_post_2030/Basic_H2_plant/generators.csv
Parameters_post_2030/Basic_H2_plant/links.csv
Parameters_post_2030/Basic_H2_plant/storage_units.csv
Parameters_post_2030/Basic_H2_plant/stores.csv
.gitignore
Data_1/hex_final.geojson
Data_1/hexagons_with_country.geojson
Data_1/hydropower_dams.gpkg
Data_2/hex_final.geojson
Data_2/hexagons_with_country.geojson
Data_2/hydropower_dams.gpkg
Data_3/hex_final.geojson
Data_3/hydropower_dams.gpkg
Data_3/hexagons_with_country.geojson
Cutouts_23/Laos23.nc
assign_country_1.py
assign_country_2.py
assign_country_3.py
optimize_hydrogen_plant_seasonal_2.py
optimize_hydrogen_plant_temporal_1.py
optimize_hydrogen_plant_temporal_2.py
optimize_hydrogen_plant_temporal_3.py
optimize_transport_and_conversion_1.py
optimize_transport_and_conversion_2.py
optimize_transport_and_conversion_3.py
schedule_scripts_pid_1.py
schedule_scripts_pid_2.py
schedule_scripts_pid_3.py
